@import '/src/styles/index';

$FOOTER_HEIGHT: 56px;

body {
  background-color: $BACKGROUND;
}

.container {
  min-height: calc(100vh - $FOOTER_HEIGHT);
}

main {
  padding: 24px;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: $GNB;
  height: $FOOTER_HEIGHT;
  background-color: $WHITE;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 10%);
}
