$PRIMARY: #dacafc;
$HIGHLIGHT: #af8cf8;
$SECONDARY: #ffdfaf;

$TITLE01: #212121;
$TITLE02: #333333;

$BODY01: #222222;
$BODY02: #777777;
$BODY03: #888888;

$LINE01: #c5c5c5;
$LINE02: #e5e5e5;
$LINE03: #ebebeb;

$BACKGROUND: #f1f8fb;

$WHITE: #ffffff;
